# Azure Functions artifacts
bin
obj
.debug
appsettings.json
local.settings.json
.vs
.vscode
__blobstorage__
__queuestorage__
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
__azurite_db_table_extent__.json
